/***********HEADER***********/
.header{
    height: 157px;
    width: 1170px;
    margin-left:  365px;
    padding-top: 2px;
}
.header1 .social_div{
    display: inline;
}
.header1 .social_div .social{
    margin-right: 15px;
}
.header1 .call{
    margin-left: 25px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline;
}
.header1 .right-top{
    display: inline;
    float: right;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 7px;
    padding-top: 2px;
}
.header1 .right-top a{
    padding-left: 27px;
}
.header1 .right-top a img{
    margin-right: 10px;
}
.header a{
    color: black;
    text-decoration: none;
}
#img1{
    margin: 15px 128px 0px 0px;
}
#img2{
    margin: 15px 20px 0px 0px;
}
.header2 table{
    display: inline-block;
    margin: 0px 30px 20px 32px;
    margin-bottom: 1px;
}
.header2 table tr th{
    width: 130px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px 15px;
}
.header2 table tr th a{
    font-size: 13px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#img3 {
    display: inline-block;
    margin-bottom: 3px;
}
.header3{
    height: 50px;
    width: max-content;
    padding-top: 11px;
}
.header3 ul{
    text-decoration: none;
    list-style-type: none;
    padding-left: 0px;
}
.header3 ul li{
    margin: 10px 27px 10px 0px;
    display: inline;
}
.header3 ul li a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

/***********MAIN***********/
.main{
    height: 1900px;
    width: 1170px;
    margin-left:  365px;
    background-color: #d0d0d0;
}
.breadcrumb{
    padding: 23px 1px;

}
.breadcrumb a{
    color: black;
    text-decoration: none;
    font-size: 11px;
}

.left{
    height: 1416px;
    width: 270px;
    background-color: white;
    float: left;
}

.left .left-1{
    height: 303px;
    width: 235px;
    border-bottom: 1px solid lightslategrey;
    padding: 30px 0px 0px 35px;
    color: black;
}
.left-1 span{
    list-style-type: none;
    text-decoration: none;
    color: black;
}
#search{
    list-style-type: none;
    text-decoration: none;
    color: black;
}
.left-1 img{
    display: block;
    padding-top: 26px;
    padding-left: 4px;
    padding-bottom: 43px;
}
#categoryes{
    font-size: 14px;
    padding-left: 4px;
}
.left-1 ul{
    text-decoration: none;
    list-style-type: none;
    padding-top: 11px;
    padding-left: 4px;
}
.left-1 ul li{
    padding-bottom: 5px;
}
.left-1 ul li a{
    font-size: 17px;
}
.left-2{
    padding: 48px 40px 20px 40px;
    border-bottom: 1px solid lightslategrey;
}
.left-2 span{
    font-size: 15px;
}
.featured{
    padding-top: 16px;
    padding-bottom: 38px;
}
.featured img{
    float: left;
}
.featured .featured-text{
    font-size: 13px;
    padding-left: 74px;
}
.featured .comment{
    padding-top: 14px;
}

.left-3{
    padding: 58px 0px 52px 40px;
    border-bottom: 1px solid lightslategrey;
}
.left-3 span{
    font-size: 15px;
}
.featured-2{
    padding-top: 27px;
    padding-left: 3px;
    padding-bottom: 5px;
}
.featured-2 img{
    float: left;
}
.featured-2 .featured-text{
    font-size: 13px;
    padding-left: 70px;
}
.featured-text aside{
    font-size: 11px;
}
.featured-text .autor{
    padding-top: 8px;
}
.featured-text .date{
    color: #e1e1e1;
}
.left-4{
    height: 220px;
}
.left-4 .archives{
    padding: 50px 0px 20px 40px;
    font-size: 14px;
}
.left-4 .archives .title{
    padding-bottom: 23px;
}
.left-4 .archives .month{
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 4px;
}
.right{
    height: 1740px;
    width: 872px;
    margin-left: 28px;
    float: left;
    overflow: hidden;
}

ul.banner li {
    opacity: 0;
    transition: opacity .5s;
    position: absolute;
    height: 340px;
    width: 250px;
    padding:50px;
    background:#fff;
    text-decoration: none;
    list-style-type: none;
}
ul.banner li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}
ul.banner li:target {
    opacity: 1; /*Mostramos el <li> al que apunta el enlace*/
}
.slider nav {
    position:relative;
    left:50px;
}



.right .right-1{
    height: 610px;
    width: 872px;
    background-color: white;
}
.slider{
    height: 610px;
    width: 436px;
    display: inline;
    float: left;
}
.slider img{
    margin-top: 60px;
    margin-left: 35px;
}
.slider table{
    margin: 465px 0px 0px 44px;
    border-spacing: 16px;
}
.slider table tr{
    width: 312px;
    height: 69px;
}
.slider th{
    border: 2px solid black;
    width: 63px;
    text-decoration: none;
    list-style-type: none;
}
.slider td{
    border: 1px solid gray;
    width: 63px;
}
.confort{
    height: 610px;
    width: 436px;
    display: inline-block;
}
.confort #chair-confort{
    padding: 49px 0px 23px 59px;
    font-size: 37px;
    width: 220px;
}
.confort img{
    padding-left: 59px;
    padding-right: 5px;
}
.confort span{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.confort aside{
    padding-left: 59px;
    padding-top: 11px;
}
.confort #number{
    padding-top: 28px;
    font-size: 30px;
    font-family: sans-serif;
}
.confort #number2{
    font-family: sans-serif;
}
.confort #confort-text{
    padding-top: 43px;
    width: 360px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 23px;
}
.confort input{
    margin: 40px 6px 0px 60px;
    width: 77px;
    height: 45px;
    background: transparent;
    border: 1px solid grey;
    padding-left: 19px;
    padding-top: 3px;
    border-radius: 3px;
}
.confort button{
    padding: 18px 60px;
    background-color: gold;
    border-radius: 3px;
    border: none;
    color: white;
    margin-bottom: 30px;
}
.confort #sku{
    font-size: 16px;
    padding-bottom: 0px;
    font-family: sans-serif;
}
.right .right-2{
    height: 516px;
    width: 872px;
    margin-top: 54px;
}
.tabs{
    height: 52px;
    width: 365px;
}
.tabs button{
    border: none;
    border-right: 1pz solid grey;
    padding: 19px 47px;
}
#tab-1{
    background-color: white;
    color: black;
}
#tab-2{
    background-color: #e4e4e4;
    color: gray;
}
.reviews{
    height: 464px;
    width: 872px;
    background-color: white;
}
.review{
    height: 100px;
    width: 872px;
    margin-left: 48px;
    padding-bottom: 13px;
    border-bottom: 1px solid #e1e1e1;
}
#review-title{
    padding-top: 51px;
    margin-left: 42px;
    padding-bottom: 16px;
    font-size: 14px;
    display: block;
}
.review .circle_gray{
    height: 65px;
    width: 65px;
    margin-top: 25px;
    border: none;
    border-radius: 50%;
    background-color: gray;
    float: left;
}
.review .review-text{
    padding-top: 29px;
    padding-left: 93px;
    height: max-content;
    width: max-content;
}
.review-text span{
    color: #c1c1c1;
}
.review-text span strong{
    color: black;
    font-size: 17px;
}
.review-text img{
    float: right;
}
.reviews #circle-plus{
    padding-left: 420px;
    padding-top: 5px;
    margin-block-start: 0px;
}
.reviews #write-review{
    padding-left: 140px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.right .right-3{
    height: 520px;
    width: 872px;
    margin-top: 39px;
}
.featured-products{
    height: 53px;
    width: 872px;
    font-size: 26.5px;
}
.product-1{
    height: 470px;
    width: 256px;
    float: left;
    display: inline;
    margin-right: 17px;
    background-color: white;
}
.product-1 .p1-img{
    margin-top: 13px;
    margin-left: 16px;
}
.product-1 .p1-title{
    padding-top: 44px;
    padding-left: 28px;
}
.product-1 .p1-text{
    width: 195px;
    padding-top: 17px;
    padding-left: 30px;
    font-size: 13px;
    color: #909090;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.product-1 .p1-price{
    padding-top: 24px;
    padding-left: 30px;
    font-size: 16px;
}
.product-1 .p1-actions{
    float: right;
    padding-top: 9px;
    padding-right: 13px;
}
.product-2{
    height: 470px;
    width: 256px;
    float: left;
    margin-right: 15px;
    background-color: white;
}
.product-2 .p2-img{
    margin-top: 13px;
    margin-left: 50px;
}
.product-2 .p2-title{
    padding-top: 44px;
    padding-left: 28px;
}
.product-2 .p2-text{
    width: 195px;
    padding-top: 17px;
    padding-left: 30px;
    font-size: 13px;
    color: #909090;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.product-2 .p2-price{
    padding-top: 24px;
    padding-left: 30px;
    font-size: 16px;
}
.product-2 .p2-actions{
    float: right;
    padding-top: 5px;
    padding-right: 16px;
}
.product-3{
    height: 470px;
    width: 256px;
    float: left;
    margin-right: 17px;
    background-color: white;
}
.product-3 .p3-img{
    margin-top: 40px;
    margin-left: 0px;
}
.product-3 .p3-title{
    padding-top: 74px;
    padding-left: 28px;
}
.product-3 .p3-text{
    width: 195px;
    padding-top: 17px;
    padding-left: 30px;
    font-size: 13px;
    color: #909090;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.product-3 .p3-price{
    padding-top: 24px;
    padding-left: 30px;
    font-size: 16px;
}
.product-3 .p3-actions{
    float: right;
    padding-top: 5px;
    padding-right: 17px;
}
.more-products{
    height: 470px;
    width: 51px;
    float: left;
    background-color: white;
}
.more-products #mp-img1{
    padding-top: 110px;
    padding-left: 20px;
}
.more-products #mp-img2{
    padding-top: 208px;
    padding-left: 20px;
}
/***********FOOTER***********/
.footer{
    margin-left: 365px;
    height: 450px;
    width: 1170px;
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.newsletter{
    height: 350px;
    width: 350px;
    float: left;
}
.newsletter .nl-text{
    padding-top: 118px;
    padding-left: 3px;
}
.newsletter .newest{
    padding-top: 2px;
    padding-left: 3px;
}
.newsletter input{
    margin-top: 22px;
    margin-left: 3px;
    padding: 11px 58px 11px 10px;
    border-radius: 3px;
}
.newsletter button{
    margin-top: 6px;
    margin-left: 3px;
    padding: 13px 30px;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: gold;
}
.customer{
    height: 350px;
    width: 210px;
    float: left;
}
.customer .c-title{
    padding-top: 118px;
    padding-left: 45px;
    padding-bottom: 15px;
}
.customer ul li{
    list-style-type: none;
    padding-bottom: 13px;
}
.customer ul a{
    text-decoration: none;
    color: white;
}
.company{
    height: 350px;
    width: 210px;
    float: left;
}
.company .co-title{
    padding-top: 118px;
    padding-left: 45px;
    padding-bottom: 15px;
}
.company ul li{
    list-style-type: none;
    padding-bottom: 13px;
}
.company ul a{
    text-decoration: none;
    color: white;
}
.feedback{
    height: 350px;
    width: 210px;
    float: left;
}
.feedback .f-title{
    padding-top: 118px;
    padding-left: 45px;
    padding-bottom: 15px;
}
.feedback ul li{
    list-style-type: none;
    padding-bottom: 13px;
}
.feedback ul a{
    text-decoration: none;
    color: white;
}
.follow{
    height: 350px;
    width: 190px;
    float: left;
}
.follow .fu-title{
    padding-top: 118px;
    padding-left: 45px;
    padding-bottom: 15px;
}
.follow ul li{
    list-style-type: none;
    padding-bottom: 13px;
}
.follow ul a{
    text-decoration: none;
    color: white;
}
.follow ul li a img{
    padding-right: 25px;
}
.terms{
    margin-top: 80px;
    padding-left: 450px;
    width: 280px;
}